.Github-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Github {
  border: 1px solid #ed3167;
  text-align: center;
  font-size: 1.2em;

  h2 {
    color: #6201ee;
  }

  p {
    font-style: italic;
    margin: 0;

    strong {
      font-style: normal;
    }
  }
}

@media (max-width: 1200px) {
  .Github-Grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .Github-Grid {
    grid-template-columns: 1fr;
  }
  .Github {
    font-size: 1em;
  }
}
